button, select {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	border:1px solid #54381e;
	text-shadow:0px 1px 0px #4d3534;
	/* -moz-border-radius:4px; */
	/* -webkit-border-radius:4px; */
	/* border-radius:4px; */
	display:inline-block;
	cursor:pointer;
	color:#ededed;
	text-shadow: 0px 1px 0px #1f1f1f;
	/* color:#fffc00; */
	/* text-shadow: 0px 0px 1px #b8b639; */
	font-size:13px;
	padding:4px 10px;
	text-decoration:none;
    margin: 0 0 0 0;
}
select {
    padding:3px 10px;
	min-width: 87px;
}
select:hover, button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
button:active {
	position:relative;
	top:1px;
}
.boutonGris {
    -moz-box-shadow:inset 0px 1px 0px 0px #a49ca6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a49ca6;
	box-shadow:inset 0px 1px 0px 0px #a49ca6;
	background-image: url(/static/img/oldmetal.jpg);
	background-position: 55% 40%;
	background-color:#7b717c;
    border:1px solid #574f59;
    /* text-shadow:0px 1px 0px #4c484d; */
}
.boutonGris:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #605c61), color-stop(1, #7b717c));
	background:-moz-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-webkit-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-o-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-ms-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:linear-gradient(to bottom, #605c61 5%, #7b717c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#605c61', endColorstr='#7b717c',GradientType=0);
	background-color:#605c61;
}
.boutonGrey {
    -moz-box-shadow:inset 0px 1px 0px 0px #928b94;
	-webkit-box-shadow:inset 0px 1px 0px 0px #928b94;
	box-shadow:inset 0px 1px 0px 0px #928b94;
	background-image: url(/static/img/oldmetal-gris.jpg);
	background-position: 25% 20%;
	background-color:#645b65;
    border:1px solid #433d45;
    /* text-shadow:0px 1px 0px #393539; */
}
.boutonGrey:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #605c61), color-stop(1, #7b717c));
	background:-moz-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-webkit-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-o-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-ms-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:linear-gradient(to bottom, #605c61 5%, #7b717c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#605c61', endColorstr='#7b717c',GradientType=0);
	background-color:#605c61;
}
.boutonBrun {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background-image: url(/static/img/oldmetal-brun.jpg);
	background-position: 50% 80%;
	background-color:#7d5d3b;
	border:1px solid #54381e;
	/* text-shadow:0px 1px 0px #4d3534; */
}
.boutonBrun:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.boutonRouge {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4554c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4554c;
	box-shadow:inset 0px 1px 0px 0px #a4554c;
	background-image: url(/static/img/oldmetal-rouge.jpg);
	background-position: 75% 60%;
	background-color:#780000;
    border:1px solid #520808;
    /* text-shadow:0px 1px 0px #4a1d1b; */
}
.boutonRouge:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #631818), color-stop(1, #8a1c1c));
	background:-moz-linear-gradient(top, #631818 5%, #8a1c1c 100%);
	background:-webkit-linear-gradient(top, #631818 5%, #8a1c1c 100%);
	background:-o-linear-gradient(top, #631818 5%, #8a1c1c 100%);
	background:-ms-linear-gradient(top, #631818 5%, #8a1c1c 100%);
	background:linear-gradient(to bottom, #631818 5%, #8a1c1c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#631818', endColorstr='#8a1c1c',GradientType=0);
	background-color:#631818;
}
.boutonOrange {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4874c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4874c;
	box-shadow:inset 0px 1px 0px 0px #a4874c;
	background-image: url(/static/img/oldmetal-orange.jpg);
	background-position: 75% 60%;
	background-color:#9d5900;
    border:1px solid #523608;
    /* text-shadow:0px 1px 0px #4a371b; */
}
.boutonOrange:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6b4700), color-stop(1, #8a6300));
	background:-moz-linear-gradient(top, #6b4700 5%, #8a6300 100%);
	background:-webkit-linear-gradient(top, #6b4700 5%, #8a6300 100%);
	background:-o-linear-gradient(top, #6b4700 5%, #8a6300 100%);
	background:-ms-linear-gradient(top, #6b4700 5%, #8a6300 100%);
	background:linear-gradient(to bottom, #6b4700 5%, #8a6300 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b4700', endColorstr='#8a6300',GradientType=0);roxi
	background-color:#603c00;
}
.boutonVert {
    -moz-box-shadow:inset 0px 1px 0px 0px #8ea67e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8ea67e;
	box-shadow:inset 0px 1px 0px 0px #8ea67e;
	background-image: url(/static/img/oldmetal-vert.jpg);
	background-position: 50% 80%;
	background-color:#3b7d3d;
    border:1px solid #1e5422;
    /* text-shadow:0px 1px 0px #344d38; */
}
.boutonVert:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #306331), color-stop(1, #3b7d3d));
	background:-moz-linear-gradient(top, #306331 5%, #3b7d3d 100%);
	background:-webkit-linear-gradient(top, #306331 5%, #3b7d3d 100%);
	background:-o-linear-gradient(top, #306331 5%, #3b7d3d 100%);
	background:-ms-linear-gradient(top, #306331 5%, #3b7d3d 100%);
	background:linear-gradient(to bottom, #306331 5%, #3b7d3d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#306331', endColorstr='#3b7d3d',GradientType=0);
	background-color:#306331;
}
.boutonJaune {
    -moz-box-shadow:inset 0px 1px 0px 0px #a6af3f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6af3f;
	box-shadow:inset 0px 1px 0px 0px #a6af3f;
	background-image: url(/static/img/oldmetal-jaune.jpg);
	background-position: 80% 40%;
	color:#ffffff;
	text-shadow: 0px 1px 3px #000000;
	background-color:#727800;
    border:1px solid #4e5208;
    /* text-shadow:0px 1px 0px #494a1b; */
}
.boutonJaune:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #636018), color-stop(1, #8a891c));
	background:-moz-linear-gradient(top, #636018 5%, #8a891c 100%);
	background:-webkit-linear-gradient(top, #636018 5%, #8a891c 100%);
	background:-o-linear-gradient(top, #636018 5%, #8a891c 100%);
	background:-ms-linear-gradient(top, #636018 5%, #8a891c 100%);
	background:linear-gradient(to bottom, #636018 5%, #8a891c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#636018', endColorstr='#8a891c',GradientType=0);
	background-color:#636018;
}
.boutonRose {
    -moz-box-shadow:inset 0px 1px 0px 0px #c192ab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c192ab;
	box-shadow:inset 0px 1px 0px 0px #c192ab;
	background-image: url(/static/img/oldmetal-rose.jpg);
	background-position: 30% 75%;
	background-color:#652042;
    border:1px solid #521839;
    /* text-shadow:0px 1px 0px #44293a; */
}
.boutonRose:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #60324a), color-stop(1, #90486f));
	background:-moz-linear-gradient(top, #60324a 5%, #90486f 100%);
	background:-webkit-linear-gradient(top, #60324a 5%, #90486f 100%);
	background:-o-linear-gradient(top, #60324a 5%, #90486f 100%);
	background:-ms-linear-gradient(top, #60324a 5%, #90486f 100%);
	background:linear-gradient(to bottom, #60324a 5%, #90486f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#60324a', endColorstr='#90486f',GradientType=0);
	background-color:#60324a;
}
.boutonBleu {
    -moz-box-shadow:inset 0px 1px 0px 0px #91b4c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #91b4c1;
	box-shadow:inset 0px 1px 0px 0px #91b4c1;
	background-image: url(/static/img/oldmetal-bleu.jpg);
	background-position: 17% 85%;
	background-color:#5ba6d0;
    border:1px solid #1f6175;
    /* text-shadow:0px 1px 0px #3d5961; */
}
.boutonBleu:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #438499), color-stop(1, #5ba6d0));
	background:-moz-linear-gradient(top, #438499 5%, #5ba6d0 100%);
	background:-webkit-linear-gradient(top, #438499 5%, #5ba6d0 100%);
	background:-o-linear-gradient(top, #438499 5%, #5ba6d0 100%);
	background:-ms-linear-gradient(top, #438499 5%, #5ba6d0 100%);
	background:linear-gradient(to bottom, #438499 5%, #5ba6d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#438499', endColorstr='#5ba6d0',GradientType=0);
	background-color:#438499;
}
.boutonCiel {
    -moz-box-shadow:inset 0px 1px 0px 0px #92c1ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #92c1ad;
	box-shadow:inset 0px 1px 0px 0px #92c1ad;
	background-image: url(/static/img/oldmetal-ciel.jpg);
	background-position: 55% 15%;
	color:#ffffff;
	background-color:#5cd09f;
    border:1px solid #1f7551;
    /* text-shadow:0px 1px 0px #3d6152; */
}
.boutonCiel:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #439975), color-stop(1, #5cd09f));
	background:-moz-linear-gradient(top, #439975 5%, #5cd09f 100%);
	background:-webkit-linear-gradient(top, #439975 5%, #5cd09f 100%);
	background:-o-linear-gradient(top, #439975 5%, #5cd09f 100%);
	background:-ms-linear-gradient(top, #439975 5%, #5cd09f 100%);
	background:linear-gradient(to bottom, #439975 5%, #5cd09f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#439975', endColorstr='#5cd09f',GradientType=0);
	background-color:#439975;
}
.boutonMauve {
    -moz-box-shadow:inset 0px 1px 0px 0px #947ea6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #947ea6;
	box-shadow:inset 0px 1px 0px 0px #947ea6;
	background-image: url(/static/img/oldmetal-mauve.jpg);
	background-position: 60% 75%;
	background-color:#643b7d;
    border:1px solid #3c1e54;
    /* text-shadow:0px 1px 0px #4b344d; */
}
.boutonMauve:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #483063), color-stop(1, #643b7d));
	background:-moz-linear-gradient(top, #483063 5%, #643b7d 100%);
	background:-webkit-linear-gradient(top, #483063 5%, #643b7d 100%);
	background:-o-linear-gradient(top, #483063 5%, #643b7d 100%);
	background:-ms-linear-gradient(top, #483063 5%, #643b7d 100%);
	background:linear-gradient(to bottom, #483063 5%, #643b7d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#483063', endColorstr='#643b7d',GradientType=0);
	background-color:#483063;
}
.boutonMarine {
    -moz-box-shadow:inset 0px 1px 0px 0px #9095c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9095c1;
	box-shadow:inset 0px 1px 0px 0px #9095c1;
	background-image: url(/static/img/oldmetal-marine.jpg);
	background-position: 30% 77%;
	background-color:#5a5cd0;
    border:1px solid #1f2375;
    /* text-shadow:0px 1px 0px #3d4061; */
}
.boutonMarine:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3c428f), color-stop(1, #5a5cd0));
	background:-moz-linear-gradient(top, #3c428f 5%, #5a5cd0 100%);
	background:-webkit-linear-gradient(top, #3c428f 5%, #5a5cd0 100%);
	background:-o-linear-gradient(top, #3c428f 5%, #5a5cd0 100%);
	background:-ms-linear-gradient(top, #3c428f 5%, #5a5cd0 100%);
	background:linear-gradient(to bottom, #3c428f 5%, #5a5cd0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c428f', endColorstr='#5a5cd0',GradientType=0);
	background-color:#3c428f;
}
.boutonCaca {
    -moz-box-shadow:inset 0px 1px 0px 0px #9aa67e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9aa67e;
	box-shadow:inset 0px 1px 0px 0px #9aa67e;
	background-image: url(/static/img/oldmetal-caca.jpg);
	background-position: 35% 50%;
	background-color:#707d3b;
    border:1px solid #40541e;
    /* text-shadow:0px 1px 0px #454d34; */
}
.boutonCaca:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #566330), color-stop(1, #707d3b));
	background:-moz-linear-gradient(top, #566330 5%, #707d3b 100%);
	background:-webkit-linear-gradient(top, #566330 5%, #707d3b 100%);
	background:-o-linear-gradient(top, #566330 5%, #707d3b 100%);
	background:-ms-linear-gradient(top, #566330 5%, #707d3b 100%);
	background:linear-gradient(to bottom, #566330 5%, #707d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#566330', endColorstr='#707d3b',GradientType=0);
	background-color:#566330;
}
.boutonNoir {
    -moz-box-shadow:inset 0px 1px 0px 0px #605a5a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #605a5a;
	box-shadow:inset 0px 1px 0px 0px #605a5a;
	background-image: url(/static/img/oldmetal-noir.jpg);
	background-position: 25% 20%;
	background-color:#5b4a4a;
    border:1px solid #2b0b0b;
    /* text-shadow:0px 1px 0px #180202; */
}
.boutonNoir:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #442d2d), color-stop(1, #5b4a4a));
	background:-moz-linear-gradient(top, #442d2d 5%, #5b4a4a 100%);
	background:-webkit-linear-gradient(top, #442d2d 5%, #5b4a4a 100%);
	background:-o-linear-gradient(top, #442d2d 5%, #5b4a4a 100%);
	background:-ms-linear-gradient(top, #442d2d 5%, #5b4a4a 100%);
	background:linear-gradient(to bottom, #442d2d 5%, #5b4a4a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#442d2d', endColorstr='#5b4a4a',GradientType=0);
	background-color:#442d2d;
}
.boutonOK {
    -moz-box-shadow:inset 0px 1px 0px 0px #a49ca6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a49ca6;
	box-shadow:inset 0px 1px 0px 0px #a49ca6;
	background-image: url(/static/img/oldmetal-gris.jpg);
	background-position: 55% 15%;
	background-color:#7b717c;
    border:1px solid #6be9b4;
	color: #6be9b4;
	font-weight:normal;
    /* text-shadow:0px 1px 0px #4c484d; */
}
.boutonOK:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #605c61), color-stop(1, #7b717c));
	background:-moz-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-webkit-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-o-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:-ms-linear-gradient(top, #605c61 5%, #7b717c 100%);
	background:linear-gradient(to bottom, #605c61 5%, #7b717c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#605c61', endColorstr='#7b717c',GradientType=0);
	background-color:#605c61;
}
.modeButtons {
	font-size:14px;
    min-width: 130px;
    padding: 6px 13px;
    margin: 3px 0 5px 0;
    text-align: left;
}
.crudButtons {
	font-size:13px;
    padding: 4px 10px;
    margin: 3px 0 5px 0;
	min-width: 10px;
}
select.crudButtons {
    padding: 3px 10px;
}
.skillButtons {
    min-width: 25px;
    font-size: 12px;
    padding: 4px 5px 3px 5px;
	margin: 3px 0 3px 6px;
}
.bigButtons {
    min-width: 35px;
    font-size: 19px;
    padding: 4px 5px 3px 5px;
	margin: 3px 0 3px 6px;
}
.miniButtons {
    min-width: 26px;
    font-size: 12px;
    padding: 4px 5px 3px 5px;
	margin: 3px 0 3px 0;
}
.iconButtons,.iconButtonsRA {
    min-width: 35px;
    font-size: 17px;
    padding: 4px 5px 3px 5px;
	margin: 3px 0 3px 6px;
}
.iconButtonsRA i {
	vertical-align: middle;
	padding-bottom: 3px;
}
