#minimap {
    font-size: 0px;
    background-image: url(/static/img/plate-vdork-small.jpg);
    background-position: 0% 40%;
    display: none;
}
.mini {
    min-width: 4px;
    min-height: 4px;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 0px;
}

@-webkit-keyframes alienBlink {
  0%, 49% {
    background-color: #ff00fc;
  }
  50%, 100% {
    background-color: #ffff00;
  }
}

@-webkit-keyframes pointsBlink {
  0%, 49% {
    background-color: #000000;
  }
  50%, 100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes selectBlink {
  0%, 49% {
    background-color: #000000;
  }
  50%, 100% {
    background-color: #ffffff;
  }
}

.mSelect {
    -webkit-animation: selectBlink .5s infinite;  /* Safari 4+ */
    -moz-animation: selectBlink .5s infinite;  /* Fx 5+ */
    -o-animation: selectBlink .5s infinite;  /* Opera 12+ */
    animation: selectBlink .5s infinite;  /* IE 10+, Fx 29+ */
}
.mBoys {
    background-color: #ffffff;
}
.mAlien {
    -webkit-animation: alienBlink 1s infinite;  /* Safari 4+ */
    -moz-animation: alienBlink 1s infinite;  /* Fx 5+ */
    -o-animation: alienBlink 1s infinite;  /* Opera 12+ */
    animation: alienBlink 1s infinite;  /* IE 10+, Fx 29+ */
}
.mPoints {
    -webkit-animation: pointsBlink .5s infinite;  /* Safari 4+ */
    -moz-animation: pointsBlink .5s infinite;  /* Fx 5+ */
    -o-animation: pointsBlink .5s infinite;  /* Opera 12+ */
    animation: pointsBlink .5s infinite;  /* IE 10+, Fx 29+ */
}
.mDark {
    background-color: #000000;
}
.mM {
    background-color: #413421;
}
.mH {
    background-color: #625432;
}
.mE {
    background-color: #8b7d3f;
}
.mP {
    background-color: #9c8d4b;
}
.mG {
    background-color: #9bb854;
}
.mB {
    background-color: #6f6e13;
}
.mF {
    background-color: #1b632f;
}
.mS {
    background-color: #566878;
}
.mW {
    background-color: #437c9a;
}
.mR {
    background-color: #1378c1;
}
.terFog {
    background-color: #000000;
}
.terTarget {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/target.png);
}
.terUnderSel {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/selected.png);
}
.terUnderBldSel {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/selectedbld.png);
}
.terUnderMove {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/compass.png);
}
.terM1 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montagnes.png);
    background-position: center;
}
.terM2 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montagnes2.png);
    background-position: center;
}
.terM3 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montagnes3.png);
    background-position: center;
}
.terM4 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montbis.png);
    background-position: center;
}
.terM5 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montbis2.png);
    background-position: center;
}
.terM6 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montbis3.png);
    background-position: center;
}
.terH1 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collines.png);
    background-position: center;
}
.terH2 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collines2.png);
    background-position: center;
}
.terH3 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collines3.png);
    background-position: center;
}
.terH4 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collinesvertes.png);
    background-position: center;
}
.terH5 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collinesvertes2.png);
    background-position: center;
}
.terH6 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collinesvertes3.png);
    background-position: center;
}
.terP1 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plaine.png);
    background-position: center;
}
.terP2 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plaine2.png);
    background-position: center;
}
.terP3 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plaine3.png);
    background-position: center;
}
.terP4 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plainesable.png);
    background-position: center;
}
.terP5 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plainesable2.png);
    background-position: center;
}
.terP6 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plainearbre2.png);
    background-position: center;
}
.terG1 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/green.png);
    background-position: center;
}
.terG2 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquibis.png);
    background-position: center;
}
.terG3 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/green3.png);
    background-position: center;
}
.terG4 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquis.png);
    background-position: center;
}
.terG5 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquibis3.png);
    background-position: center;
}
.terG6 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquis3.png);
    background-position: center;
}
.terB1 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/maquis.png);
    background-position: center;
}
.terB2 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/maquis2.png);
    background-position: center;
}
.terB3 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/maquis3.png);
    background-position: center;
}
.terB4 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/mixvertclair.png);
    background-position: center;
}
.terB5 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/mixvertclair2.png);
    background-position: center;
}
.terB6 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/mixvertclair3.png);
    background-position: center;
}
.terF1 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/foretdense.png);
    background-position: center;
}
.terF2 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/foretdense2.png);
    background-position: center;
}
.terF3 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/foretdense3.png);
    background-position: center;
}
.terF4 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/mixvert.png);
    background-position: center;
}
.terF5 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/mixvert2.png);
    background-position: center;
}
.terF6 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/mixvert3.png);
    background-position: center;
}
.terS1 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/presale.png);
    background-position: center;
}
.terS2 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/presale2.png);
    background-position: center;
}
.terS3 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/presale3.png);
    background-position: center;
}
.terS4 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/fagnes.png);
    background-position: center;
}
.terS5 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/fagnes2.png);
    background-position: center;
}
.terS6 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/fagnes3.png);
    background-position: center;
}
.terW1 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etang.png);
    background-position: center;
}
.terW2 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etang2.png);
    background-position: center;
}
.terW3 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etang3.png);
    background-position: center;
}
.terW4 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etangveg.png);
    background-position: center;
}
.terW5 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etangveg2.png);
    background-position: center;
}
.terW6 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etangveg3.png);
    background-position: center;
}
.terR1 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fleuve.png);
    background-position: center;
}
.terR2 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fleuve2.png);
    background-position: center;
}
.terR3 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fleuve3.png);
    background-position: center;
}
.terR4 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fletocs.png);
    background-position: center;
}
.terR5 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fletocs2.png);
    background-position: center;
}
.terR6 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fletocs3.png);
    background-position: center;
}
