#minimap {
    font-size: 0px;
    background-image: url(/static/img/plate-vdork-small.jpg);
    background-position: 0% 40%;
    display: none;
}
.mini {
    min-width: 4px;
    min-height: 4px;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 0px;
}

@-webkit-keyframes alienBlink {
  0%, 49% {
    background-color: #ff00fc;
  }
  50%, 100% {
    background-color: #ffff00;
  }
}

@-webkit-keyframes pointsBlink {
  0%, 49% {
    background-color: #000000;
  }
  50%, 100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes selectBlink {
  0%, 49% {
    background-color: #000000;
  }
  50%, 100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes infraBlink {
  0%, 49% {
    background-color: #0038ff;
  }
  50%, 100% {
    background-color: #0027b1;
  }
}

.mSelect {
    -webkit-animation: selectBlink .5s infinite;  /* Safari 4+ */
    -moz-animation: selectBlink .5s infinite;  /* Fx 5+ */
    -o-animation: selectBlink .5s infinite;  /* Opera 12+ */
    animation: selectBlink .5s infinite;  /* IE 10+, Fx 29+ */
}
.mBoys {
    background-color: #ffffff;
}
.mAlien {
    -webkit-animation: alienBlink 1s infinite;  /* Safari 4+ */
    -moz-animation: alienBlink 1s infinite;  /* Fx 5+ */
    -o-animation: alienBlink 1s infinite;  /* Opera 12+ */
    animation: alienBlink 1s infinite;  /* IE 10+, Fx 29+ */
}
.mPoints {
    -webkit-animation: pointsBlink .5s infinite;  /* Safari 4+ */
    -moz-animation: pointsBlink .5s infinite;  /* Fx 5+ */
    -o-animation: pointsBlink .5s infinite;  /* Opera 12+ */
    animation: pointsBlink .5s infinite;  /* IE 10+, Fx 29+ */
}
.mDark {
    background-color: #000000;
}
.mRed {
    background-color: #ff0000;
}
.mYel {
    background-color: #ffff00;
}
.mBlu {
    background-color: #00e0ff;
}
.mInfra {
    -webkit-animation: infraBlink 2s infinite;  /* Safari 4+ */
    -moz-animation: infraBlink 2s infinite;  /* Fx 5+ */
    -o-animation: infraBlink 2s infinite;  /* Opera 12+ */
    animation: infraBlink 2s infinite;  /* IE 10+, Fx 29+ */
}
.mM {
    background-color: #39372E;
}
.mH {
    background-color: #5F5B3A;
}
.mE {
    background-color: #8b7d3f;
}
.mP {
    background-color: #91965f;
}
.mG {
    background-color: #B1BD57;
}
.mB {
    background-color: #467D2D;
}
.mF {
    background-color: #26601F;
}
.mS {
    background-color: #516662;
}
.mW {
    background-color: #49796f;
}
.mR {
    background-color: #60a6ab;
}
.mV {
    background-color: #000000;
}
.mX {
    background-color: #4d4e48;
}
.terFog {
    background-color: #000000;
    background-image: url(/static/img/sntiles/D_001.png);
    background-position: center;
}
.terTarget {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/target.png);
}
.terUnderSel {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/selected.png);
}
.terUnderBldSel {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/selectedbld.png);
}
.terUnderMove {
    background-color: #FFFFFF;
    background-image: url(/static/img/wtiles/compass.png);
}
.terM1 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_001.png);
    background-position: center;
}
.terM2 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_002.png);
    background-position: center;
}
.terM3 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_003.png);
    background-position: center;
}
.terM4 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_004.png);
    background-position: center;
}
.terM5 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_005.png);
    background-position: center;
}
.terM6 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_006.png);
    background-position: center;
}
.terM7 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_007.png);
    background-position: center;
}
.terM8 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_008.png);
    background-position: center;
}
.terM9 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_009.png);
    background-position: center;
}
.terM10 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_010.png);
    background-position: center;
}
.terM11 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_011.png);
    background-position: center;
}
.terM12 {
    background-color: #291313;
    background-image: url(/static/img/sntiles/M_012.png);
    background-position: center;
}
.terH1 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_001.png);
    background-position: center;
}
.terH2 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_002.png);
    background-position: center;
}
.terH3 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_003.png);
    background-position: center;
}
.terH4 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_004.png);
    background-position: center;
  }
.terH5 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_005.png);
    background-position: center;
}
.terH6 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_006.png);
    background-position: center;
}
.terH7 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_007.png);
    background-position: center;
}
.terH8 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_008.png);
    background-position: center;
}
.terH9 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_009.png);
    background-position: center;
}
.terH10 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_010.png);
    background-position: center;
}
.terH11 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_011.png);
    background-position: center;
}
.terH12 {
    background-color: #4d3b15;
    background-image: url(/static/img/sntiles/H_012.png);
    background-position: center;
}
.terP1 {
    background-color: #a7ac77;
    background-image: url(/static/img/sntiles/P_001.png);
    background-position: center;
}
.terP2 {
    background-color: #a7ac77;
    background-image: url(/static/img/sntiles/P_002.png);
    background-position: center;
}
.terP3 {
    background-color: #a7ac77;
    background-image: url(/static/img/sntiles/P_003.png);
    background-position: center;
}
.terP4 {
    background-color: #a7ac77;
    background-image: url(/static/img/sntiles/P_004.png);
    background-position: center;
}
.terP5 {
    background-color: #a7ac77;
    background-image: url(/static/img/sntiles/P_005.png);
    background-position: center;
}
.terP6 {
    background-color: #a7ac77;
    background-image: url(/static/img/sntiles/P_006.png);
    background-position: center;
}
.terG1 {
    background-color: #9bb989;
    background-image: url(/static/img/sntiles/G_001.png);
    background-position: center;
}
.terG2 {
    background-color: #9bb989;
    background-image: url(/static/img/sntiles/G_002.png);
    background-position: center;
}
.terG3 {
    background-color: #9bb989;
    background-image: url(/static/img/sntiles/G_003.png);
    background-position: center;
}
.terG4 {
    background-color: #9bb989;
    background-image: url(/static/img/sntiles/G_004.png);
    background-position: center;
}
.terG5 {
    background-color: #9bb989;
    background-image: url(/static/img/sntiles/G_005.png);
    background-position: center;
}
.terG6 {
    background-color: #9bb989;
    background-image: url(/static/img/sntiles/G_006.png);
    background-position: center;
}
.terB1 {
    background-color: #597d43;
    background-image: url(/static/img/sntiles/B_001.png);
    background-position: center;
}
.terB2 {
    background-color: #597d43;
    background-image: url(/static/img/sntiles/B_002.png);
    background-position: center;
}
.terB3 {
    background-color: #597d43;
    background-image: url(/static/img/sntiles/B_003.png);
    background-position: center;
}
.terB4 {
    background-color: #597d43;
    background-image: url(/static/img/sntiles/B_004.png);
    background-position: center;
}
.terB5 {
    background-color: #597d43;
    background-image: url(/static/img/sntiles/B_005.png);
    background-position: center;
}
.terB6 {
    background-color: #597d43;
    background-image: url(/static/img/sntiles/B_006.png);
    background-position: center;
}
.terF1 {
    background-color: #22460c;
    background-image: url(/static/img/sntiles/F_001.png);
    background-position: center;
}
.terF2 {
    background-color: #22460c;
    background-image: url(/static/img/sntiles/F_002.png);
    background-position: center;
}
.terF3 {
    background-color: #22460c;
    background-image: url(/static/img/sntiles/F_003.png);
    background-position: center;
}
.terF4 {
    background-color: #22460c;
    background-image: url(/static/img/sntiles/F_004.png);
    background-position: center;
}
.terF5 {
    background-color: #22460c;
    background-image: url(/static/img/sntiles/F_005.png);
    background-position: center;
}
.terF6 {
    background-color: #22460c;
    background-image: url(/static/img/sntiles/F_006.png);
    background-position: center;

}
.terS1 {
    background-color: #5b848c;
    background-image: url(/static/img/sntiles/S_001.png);
    background-position: center;
}
.terS2 {
    background-color: #5b848c;
    background-image: url(/static/img/sntiles/S_002.png);
    background-position: center;
}
.terS3 {
    background-color: #5b848c;
    background-image: url(/static/img/sntiles/S_003.png);
    background-position: center;
}
.terS4 {
    background-color: #5b848c;
    background-image: url(/static/img/sntiles/S_004.png);
    background-position: center;
}
.terS5 {
    background-color: #5b848c;
    background-image: url(/static/img/sntiles/S_005.png);
    background-position: center;
}
.terS6 {
    background-color: #5b848c;
    background-image: url(/static/img/sntiles/S_006.png);
    background-position: center;
}
.terW1 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/W_001.png);
    background-position: center;
}
.terW2 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/W_002.png);
    background-position: center;
}
.terW3 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/W_003.png);
    background-position: center;
}
.terW4 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/W_004.png);
    background-position: center;

}
.terW5 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/W_005.png);
    background-position: center;
}
.terW6 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/W_006.png);
    background-position: center;
}
.terR1 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/R_001.png);
    background-position: center;
}
.terR2 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/R_002.png);
    background-position: center;
}
.terR3 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/R_003.png);
    background-position: center;
}
.terR4 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/R_004.png);
    background-position: center;
}
.terR5 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/R_005.png);
    background-position: center;
}
.terR6 {
    background-color: #3697ac;
    background-image: url(/static/img/sntiles/R_006.png);
    background-position: center;
}
.terX1 {
    background-color: #4d4e48;
    background-image: url(/static/img/sntiles/X_001.png);
    background-position: center;
}
.terV1 {
    background-color: #000000;
    background-image: url(/static/img/sntiles/V_001.png);
    background-position: center;
}
.terPic {
    position: absolute;
    top: -4px;
    left: -4px;
    display: inline-block;
    z-index: 1;
}
.terPicRain {
    position: absolute;
    top: -4px;
    left: -4px;
    display: inline-block;
    z-index: 1;
    filter: grayscale(35%) brightness(80%) contrast(120%);
}
.terPicSun {
    position: absolute;
    top: -4px;
    left: -4px;
    display: inline-block;
    z-index: 1;
    filter: hue-rotate(5deg) saturate(100%) brightness(108%) contrast(125%);
}
.terPicFog {
    position: absolute;
    top: -4px;
    left: -4px;
    display: inline-block;
    z-index: 1;
    filter: sepia(35%) grayscale(35%) brightness(85%) contrast(140%);
}
.terPicGrav {
    position: absolute;
    top: -4px;
    left: -4px;
    display: inline-block;
    z-index: 1;
    filter: hue-rotate(205deg) saturate(70%) brightness(85%) contrast(135%);
}
.terPicHot {
    position: absolute;
    top: -4px;
    left: -4px;
    display: inline-block;
    z-index: 1;
    filter: hue-rotate(325deg) brightness(75%) contrast(125%) saturate(130%);
}
.terPicTox {
    position: absolute;
    top: -4px;
    left: -4px;
    display: inline-block;
    z-index: 1;
    filter: hue-rotate(45deg) brightness(90%) contrast(130%) saturate(90%);
}
/* .terPic img {
    filter: grayscale(35%) brightness(80%) contrast(120%);
} */
