.terM1 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montagnes.png);
}
.terM2 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montagnes2.png);
}
.terM3 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montagnes3.png);
}
.terM4 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montbis.png);
}
.terM5 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montbis2.png);
}
.terM6 {
    background-color: #291313;
    background-image: url(/static/img/wtiles/montbis3.png);
}
.terH1 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collines.png);
}
.terH2 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collines2.png);
}
.terH3 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collines3.png);
}
.terH4 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collinesvertes.png);
}
.terH5 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collinesvertes2.png);
}
.terH6 {
    background-color: #4d3b15;
    background-image: url(/static/img/wtiles/collinesvertes3.png);
}
.terP1 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plaine.png);
}
.terP2 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plaine2.png);
}
.terP3 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plaine3.png);
}
.terP4 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plainesable.png);
}
.terP5 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plainesable2.png);
}
.terP6 {
    background-color: #a7ac77;
    background-image: url(/static/img/wtiles/plainearbre2.png);
}
.terG1 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/green.png);
}
.terG2 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquibis.png);
}
.terG3 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/green3.png);
}
.terG4 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquis.png);
}
.terG5 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquibis3.png);
}
.terG6 {
    background-color: #9bb989;
    background-image: url(/static/img/wtiles/paquis3.png);
}
.terB1 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/maquis.png);
}
.terB2 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/maquis2.png);
}
.terB3 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/maquis3.png);
}
.terB4 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/mixvertclair.png);
}
.terB5 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/mixvertclair2.png);
}
.terB6 {
    background-color: #597d43;
    background-image: url(/static/img/wtiles/mixvertclair3.png);
}
.terF1 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/foretdense.png);
}
.terF2 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/foretdense2.png);
}
.terF3 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/foretdense3.png);
}
.terF4 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/mixvert.png);
}
.terF5 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/mixvert2.png);
}
.terF6 {
    background-color: #22460c;
    background-image: url(/static/img/wtiles/mixvert3.png);
}
.terS1 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/presale.png);
}
.terS2 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/presale2.png);
}
.terS3 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/presale3.png);
}
.terS4 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/fagnes.png);
}
.terS5 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/fagnes2.png);
}
.terS6 {
    background-color: #5b848c;
    background-image: url(/static/img/wtiles/fagnes3.png);
}
.terW1 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etang.png);
}
.terW2 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etang2.png);
}
.terW3 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etang3.png);
}
.terW4 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etangveg.png);
}
.terW5 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etangveg2.png);
}
.terW6 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/etangveg3.png);
}
.terR1 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fleuve.png);
}
.terR2 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fleuve2.png);
}
.terR3 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fleuve3.png);
}
.terR4 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fletocs.png);
}
.terR5 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fletocs2.png);
}
.terR6 {
    background-color: #3697ac;
    background-image: url(/static/img/wtiles/fletocs3.png);
}
